<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.onboard.android.app"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:name=".AppContext"
        android:icon="@drawable/logo"
        android:label="@string/app_name">
        <activity
            android:name=".AppStart"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Login"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HalfTranslucent"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.Company"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullTranslucent" />
        <activity
            android:name=".ui.SelectCompany"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullTranslucent" />
        <activity
            android:name=".ui.Project"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" />
        <activity
            android:name=".ui.DiscussionDetail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" />

        <receiver android:name=".ui.BroadCast">
            <intent-filter>
                <action android:name="com.onboard.app.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

</manifest>